In [1]:
import pandas as pd
import numpy as np   # pylab
import plotly.express as px


look the data

load the data (Algorithm for every datasets)
look at the data
if required,clean the data
if required,transform the data
if required, reduce the data
if required,create new features
if required,create new dataframes

In [2]:
df =pd.read_excel('sampledata.xlsx')
print(df)

   id  first name last name  basic salary    d.a  h.r.a  t.a department  fine
0    1        ram    shrama          30000  0.50    0.8  0.1      sales   200
1    2      vijay    pandey          25000  0.30    0.8  0.1    purches   600
2    3      imran       ali         450000  0.40    0.8  0.1        rnd   300
3    4      ajay     pandey          25000  0.30    0.8  0.1      sales   500
4    5      vijay    sharma         320000  0.50    0.6  0.1   purchase   400
5    6      rohan    kapoor         195000  0.20    0.8  0.1      sales   100
6    7    vidhya      singh          32000  0.15    0.8  0.1    purches   555
7    8      suraj     singh          62000  0.10    1.0  0.5        rnd   660
8    9     arjun     kapoor          12000  0.05    0.6  0.1      sales   200
9   10       arun    pandey           7800  0.40    0.8  0.1   purchase   700

In [3]:
df['first name']

0        ram
1      vijay
2      imran
3      ajay
4      vijay
5      rohan
6    vidhya
7      suraj
8     arjun
9       arun
Name: first name, dtype: object

In [23]:
df[['first name','last name']] 
# list of columns

  first name last name
0        ram    shrama
1      vijay    pandey
2      imran       ali
3      ajay     pandey
4      vijay    sharma
5      rohan    kapoor
6    vidhya      singh
7      suraj     singh
8     arjun     kapoor
9       arun    pandey

In [20]:
df.iloc[0]

id                     1
first name           ram
last name         shrama
basic salary       30000
d.a                  0.5
h.r.a                0.8
t.a                  0.1
department         sales
fine                 200
total salary     71800.0
Name: 0, dtype: object

In [21]:
df.iloc[3].tolist()

[4, 'ajay ', 'pandey', 25000, 0.3, 0.8, 0.1, 'sales', 500, 54500.0]

In [22]:
df.iloc[:4]

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,ram,shrama,30000,0.5,0.8,0.1,sales,200,71800.0
1,2,vijay,pandey,25000,0.3,0.8,0.1,purches,600,54400.0
2,3,imran,ali,450000,0.4,0.8,0.1,rnd,300,1034700.0
3,4,ajay,pandey,25000,0.3,0.8,0.1,sales,500,54500.0

In [24]:
df.iloc[-5:,:3] # last 5 rows and first 3 columns

   id  first name last name
5    6      rohan    kapoor
6    7    vidhya      singh
7    8      suraj     singh
8    9     arjun     kapoor
9   10       arun    pandey

In [25]:
df

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,ram,shrama,30000,0.50,0.8,0.1,sales,200,71800.0
1,2,vijay,pandey,25000,0.30,0.8,0.1,purches,600,54400.0
2,3,imran,ali,450000,0.40,0.8,0.1,rnd,300,1034700.0
3,4,ajay,pandey,25000,0.30,0.8,0.1,sales,500,54500.0
4,5,vijay,sharma,320000,0.50,0.6,0.1,purchase,400,703600.0
5,6,rohan,kapoor,195000,0.20,0.8,0.1,sales,100,409400.0
6,7,vidhya,singh,32000,0.15,0.8,0.1,purches,555,65045.0
7,8,suraj,singh,62000,0.10,1.0,0.5,rnd,660,160540.0
8,9,arjun,kapoor,12000,0.05,0.6,0.1,sales,200,20800.0
9,10,arun,pandey,7800,0.40,0.8,0.1,purchase,700,17240.0

In [26]:
df.head() # first 5 rows

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,ram,shrama,30000,0.5,0.8,0.1,sales,200,71800.0
1,2,vijay,pandey,25000,0.3,0.8,0.1,purches,600,54400.0
2,3,imran,ali,450000,0.4,0.8,0.1,rnd,300,1034700.0
3,4,ajay,pandey,25000,0.3,0.8,0.1,sales,500,54500.0
4,5,vijay,sharma,320000,0.5,0.6,0.1,purchase,400,703600.0

In [27]:
df.tail() # last 5 rows

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
5,6,rohan,kapoor,195000,0.20,0.8,0.1,sales,100,409400.0
6,7,vidhya,singh,32000,0.15,0.8,0.1,purches,555,65045.0
7,8,suraj,singh,62000,0.10,1.0,0.5,rnd,660,160540.0
8,9,arjun,kapoor,12000,0.05,0.6,0.1,sales,200,20800.0
9,10,arun,pandey,7800,0.40,0.8,0.1,purchase,700,17240.0

In [28]:
# missing value
df.isnull().sum() # count of missing values in the table and make the sum

id               0
first name       0
last name        0
basic salary     0
d.a              0
h.r.a            0
t.a              0
department       0
fine             0
total salary     0
dtype: int64

In [29]:
df.info() # check the datatype of the entities

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   first name     10 non-null     object
 2   last name      10 non-null     object
 3   basic salary   10 non-null     int64
 4   d.a            10 non-null     float64
 5   h.r.a          10 non-null     float64
 6   t.a            10 non-null     float64
 7   department     10 non-null     object
 8   fine           10 non-null     int64
 9   total salary   10 non-null     float64
dtypes: float64(4), int64(3), object(3)
memory usage: 928.0+ bytes

In [30]:
df.describe() # numerical values and having statistical values (mean,median,quartile,upper-quartile)

,id,basic salary,d.a,h.r.a,t.a,fine,total salary
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01
mean,5.50000,115880.000000,0.290000,0.780000,0.140000,421.500000,2.592025e+05
std,3.02765,154871.307148,0.161245,0.113529,0.126491,212.655825,3.501150e+05
min,1.00000,7800.000000,0.050000,0.600000,0.100000,100.000000,1.724000e+04
25%,3.25000,25000.000000,0.162500,0.800000,0.100000,225.000000,5.442500e+04
50%,5.50000,31000.000000,0.300000,0.800000,0.100000,450.000000,6.842250e+04
75%,7.75000,161750.000000,0.400000,0.800000,0.100000,588.750000,3.471850e+05
max,10.00000,450000.000000,0.500000,1.000000,0.500000,700.000000,1.034700e+06

In [4]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
df.iloc[-5:, :3]

   id  first name last name
5    6      rohan    kapoor
6    7    vidhya      singh
7    8      suraj     singh
8    9     arjun     kapoor
9   10       arun    pandey

In [9]:
df.head(3)

   id  first name last name  basic salary   d.a  h.r.a  t.a department  fine
0    1        ram    shrama          30000  0.5    0.8  0.1      sales   200
1    2      vijay    pandey          25000  0.3    0.8  0.1    purches   600
2    3      imran       ali         450000  0.4    0.8  0.1        rnd   300

In [10]:
df['d.a']

0    0.50
1    0.30
2    0.40
3    0.30
4    0.50
5    0.20
6    0.15
7    0.10
8    0.05
9    0.40
Name: d.a, dtype: float64

In [11]:
df['d.a']*df['basic salary ']

0     15000.0
1      7500.0
2    180000.0
3      7500.0
4    160000.0
5     39000.0
6      4800.0
7      6200.0
8       600.0
9      3120.0
dtype: float64

In [12]:
df['h.r.a']*df['basic salary ']

0     24000.0
1     20000.0
2    360000.0
3     20000.0
4    192000.0
5    156000.0
6     25600.0
7     62000.0
8      7200.0
9      6240.0
dtype: float64

In [13]:
df['d.a']*df['basic salary ']\
    +df['h.r.a']*df['basic salary ']\
    +df['t.a']*df['basic salary ']\
    +df['basic salary ']

0      72000.0
1      55000.0
2    1035000.0
3      55000.0
4     704000.0
5     409500.0
6      65600.0
7     161200.0
8      21000.0
9      17940.0
dtype: float64

In [14]:
df['total salary']=df['d.a']*df['basic salary ']\
    +df['h.r.a']*df['basic salary ']\
    +df['t.a']*df['basic salary ']\
    +df['basic salary ']-df['fine']
df.head(3)

,id,first name,last name,basic salary,d.a,h.r.a,t.a,department,fine,total salary
0,1,ram,shrama,30000,0.5,0.8,0.1,sales,200,71800.0
1,2,vijay,pandey,25000,0.3,0.8,0.1,purches,600,54400.0
2,3,imran,ali,450000,0.4,0.8,0.1,rnd,300,1034700.0

In [15]:
px.area(df,x='first name',y='total salary')

In [33]:
# visualization - 
px.bar(df,x='first name',y='total salary')

In [34]:
# visualization - 
px.line(df,x='first name',y='total salary')