In [1]:
fruits={
    "apple":2,
    "banana":3,
    "orange":5
}

In [3]:
grocery={
    'fruits':['apple','banana','orange','grape'],
    'vegetables':['carrot','lettuce','onion'],
     'dairy':['milk','cheese','yogurt'],
     'meat':None             
}

In [1]:
reports={
    'rajesh':{
        'english':90,
        'Math':80,
        'Science':70,
        
    },
    'raj':{
        'english':90,
        'Math':80,
        'Science':70,
        
    }
    
}
reports

{'rajesh': {'english': 90, 'Math': 80, 'Science': 70},
 'raj': {'english': 90, 'Math': 80, 'Science': 70}}

In [5]:
print(fruits)
print(reports)
print(grocery)

{'apple': 2, 'banana': 3, 'orange': 5}
{'rajesh': {'english': 90, 'Math': 80, 'Science': 70}, 'raj': {'english': 90, 'Math': 80, 'Science': 70}}
{'fruits': ['apple', 'banana', 'orange', 'grape'], 'vegetables': ['carrot', 'lettuce', 'onion'], 'dairy': ['milk', 'cheese', 'yogurt'], 'meat': None}

In [6]:
from pprint import pp

In [7]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None}

In [8]:
fruits['apple']  #data fetched

2

In [9]:
#update vlaue in dictionary
fruits['apple']=10
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5}

In [11]:
#add new value
fruits['mango']=21
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 5, 'mango': 21}

In [12]:
grocery['spices']=['cumin','coriander','turmeric']
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [13]:
#add new value
grocery['fruits'].append('mango')
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [14]:
reports['raj']['evs']=99
pp(reports)

{'rajesh': {'english': 90, 'Math': 80, 'Science': 70},
 'raj': {'english': 90, 'Math': 80, 'Science': 70, 'evs': 99}}

In [15]:
fruits.pop('banana')# remove key-value pairs from dictionary

3

In [16]:
reports.pop('raj')

{'english': 90, 'Math': 80, 'Science': 70, 'evs': 99}

In [17]:
grocery.pop('meat')

In [18]:
grocery

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yogurt'],
 'spices': ['cumin', 'coriander', 'turmeric']}

In [19]:
grocery['vegetables'].remove('onion')
print(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'], 'vegetables': ['carrot', 'lettuce'], 'dairy': ['milk', 'cheese', 'yogurt'], 'spices': ['cumin', 'coriander', 'turmeric']}

In [20]:
fruits.keys() #get all keys

dict_keys(['apple', 'orange', 'mango'])

In [21]:
fruits.values()

dict_values([10, 5, 21])

In [22]:
fruits.items()  #get all key-value pairs from dictionary

dict_items([('apple', 10), ('orange', 5), ('mango', 21)])

In [23]:
#traversal
for k,v in fruits.items():
    print(k,v)

apple 10
orange 5
mango 21

In [25]:
reports

{'rajesh': {'english': 90, 'Math': 80, 'Science': 70}}

In [26]:
reports['rajesh']['Math']

80

In [27]:
reports['rajesh']['Math']=90

In [28]:
reports

{'rajesh': {'english': 90, 'Math': 90, 'Science': 70}}

In [29]:
reports.get('raj','not available')

'not available'

In [31]:
reports['sunita']={'english': 90, 'Math': 90, 'Science': 70}
pp(reports)

{'rajesh': {'english': 90, 'Math': 90, 'Science': 70},
 'sunita': {'english': 90, 'Math': 90, 'Science': 70}}

In [37]:
for students,Detail in reports.items():
    print(students)
    for subject,marks in Detail.items():
        print(f'{marks} in {subject}')
    print('---'* 10)

rajesh
90 in english
90 in Math
70 in Science
------------------------------
sunita
90 in english
90 in Math
70 in Science
------------------------------

In [42]:
informations={
           'name':'abhi',
            'department':'HR',
           'salary':100000,
           'skills':['communication','management'],
           'projects':{
               'project1':{
               'project_name':"HRMS",
               'project_duration':5,
               'project_technology':['excel','power bi']
           
           },
          
},

 'name':'raj',
           'department':'HR',
           'salary':21000,
           'skills':['communication','management'],
           'projects':{
               'project1':{
               'project_name':"AI",
               'project_duration':5,
               'project_technology':['python']
},
},
 'name':'rahul',
           'department':'HR',
           'salary':21000,
           'skills':['communication','management'],
           'projects':{
               'project1':{
               'project_name':"AI",
               'project_duration':5,
               'project_technology':['python']
},
           },
            'name':'rajnesh',
           'department':'HR',
           'salary':21000,
           'skills':['communication','management'],
           'projects':{
               'project1':{
               'project_name':"AI",
               'project_duration':5,
               'project_technology':['python']
}
           }
}

In [43]:
pp(informations)

{'name': 'rajnesh',
 'department': 'HR',
 'salary': 21000,
 'skills': ['communication', 'management'],
 'projects': {'project1': {'project_name': 'AI',
                           'project_duration': 5,
                           'project_technology': ['python']}}}

In [44]:
print(informations)

{'name': 'rajnesh', 'department': 'HR', 'salary': 21000, 'skills': ['communication', 'management'], 'projects': {'project1': {'project_name': 'AI', 'project_duration': 5, 'project_technology': ['python']}}}