In [1]:
a='this is a string'
b="this is a string"
c='''lines want do u want to write '''
d=b'this is a byte string'
e=u'this is a unicode string'

In [2]:
x=10
x=str(x)  #converted to string
print(x)

10

In [1]:
str ='digipodium'
print('str =',str)
#access first character
print('str[0]=' ,str[0])
#third character
print('str[2]=' ,str[2])
#last character
print('str[-1]=' ,str[-1])

str = digipodium
str[0]= d
str[2]= g
str[-1]= m

In [2]:
#getting a slice

s='digipodium'
slice =s[4:7]
print(slice)

pod

In [6]:
name ='vijay deenanath chauhan'
slice=name[:5]
print(slice)

vijay

In [10]:
name ='vijay deenanath chauhan'
slice=name[-7:]
print(slice)

chauhan

In [11]:
name[::3]

'vadna aa'

In [12]:
name[::-1]

'nahuahc htananeed yajiv'

In [14]:
x=input('enter a number: ')
if x.isnumeric():
    x=int(x)
    print(x)
else:
    print('invalid input')

invalid input

In [16]:
uname =input('Enter your name: ')
if uname.isalpha():
    print('Hello',uname)
else:
    print('Invalid input')

Hello abhi

In [17]:
uname=input('Enter your name:')
if not uname.isalnum():
    print('must be some special characters')
else:
    print('not so special')

not so special

In [18]:
name=['Mr.Anand','Mrs.Vijay','Mrs.ravi','Er.rajessh']
for name in name:
    if name.startswith("Mr.") or name.startswith('Mrs.'):
        print(f'Welcome{name}')
    else:
        print(f'you are not allowes{name}')

WelcomeMr.Anand
WelcomeMrs.Vijay
WelcomeMrs.ravi
you are not allowesEr.rajessh

In [21]:
name= 'journey before destination'
print(name)

journey before destination

In [22]:
#count function
s='this is an example string, this is a simple string'
print(s.count('is'))

4

In [23]:
#total vowels
tv=s.count('a')+s.count('e')+s.count('i')+s.count('o')
print(tv)

13

In [26]:
#find a string
print(s.find('example'))
print(s.find('is'))

print(s.find('is',3))

11
2
5

In [27]:
s.replace('is','was')

'thwas was an example string, thwas was a simple string'

In [28]:
s.replace('string', '')

'this is an example , this is a simple '

In [30]:
s.replace(' is ',' was ')

'this was an example string, this was a simple string'

In [31]:
s.split()

['this',
 'is',
 'an',
 'example',
 'string,',
 'this',
 'is',
 'a',
 'simple',
 'string']

In [34]:
s.split(',')

['this is an example string', ' this is a simple string']

In [36]:
#join list in to string
words=['one','two','three']
" ... ".join(words)

'one ... two ... three'

In [38]:
#remove extra space use data cleaning
x='  abhi  '
print(x)

print(x.strip())

  abhi
abhi