In [1]:
#tuple
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
#single element tuple
a=13,
print(type(a))

<class 'tuple'>

In [3]:
#tuple unpacking
x1,x2,x3=x
print(x1,x2,x3)

1 2 3

In [4]:
a=(1,2,3,4,5,6,7,8,9)
a1,a2, *a3=a    #a3 will get the remainig elements as a list
print(a1,a2,a3)

1 2 [3, 4, 5, 6, 7, 8, 9]

In [5]:
a[:5]#slicing

(1, 2, 3, 4, 5)

In [6]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
x=(1,2,3,4,51,2,3,4,51,2,3,4,5)
print(x.count(2))
print(x.count(3))
print(x.count(1))
print(x.count(51))#51 is the value to search
print(x.index(2,5))  #2 is the vlaue to search and 5 is the starting index

3
3
1
2
5

In [10]:
#convert list into tuple 
a=[1,2,3]
at=tuple(a)
al=list(at)
print(at)
print(al)

(1, 2, 3)
[1, 2, 3]

In [11]:
s={1,2,3,4,1,2,3,4}
print(s)

{1, 2, 3, 4}

In [8]:
s1=set()
print(s1)

set()

In [9]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add('all')
s1.add(3)
print(s1)

{'all', 'hello', 3, 4}

In [10]:
s1.discard(3)
print(s1)

{'all', 'hello', 4}

In [11]:
for i in s1:
    print(i)

all
hello
4

In [12]:
group1={'apple','banana','grapes','mango','pineapple'}
group2={'apple','kiwi','grapes','cherry','papaya'}

group1 | group2  #all elements from both sets

{'apple', 'banana', 'cherry', 'grapes', 'kiwi', 'mango', 'papaya', 'pineapple'}

In [13]:
print(group1.union(group2))

{'banana', 'cherry', 'papaya', 'mango', 'pineapple', 'grapes', 'kiwi', 'apple'}

In [15]:
#intersection
print(group1&group2)
print(group1.intersection(group2))

{'apple', 'grapes'}
{'apple', 'grapes'}

In [18]:
#difference
print(group1-group2)
print(group2-group1)
print(group2.difference(group1))

{'mango', 'banana', 'pineapple'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [20]:
#symmetric differece
print(group1^group2)
print(group1.symmetric_difference(group2))

{'mango', 'banana', 'kiwi', 'pineapple', 'cherry', 'papaya'}
{'mango', 'banana', 'kiwi', 'pineapple', 'cherry', 'papaya'}

In [42]:
report=[ 
    ['rohan',[
        ['math', 90],
        ['english', 90],
        ['bio', 90],
        ]
        ],
            ['RAJ',[
        ['math', 90],
        ['english', 90],
        ['bio', 90],
        ]
        ],  
            ['Abhi',[
        ['math', 90],
        ['english', 90],
        ['bio', 90],
        ]
        ]
]

In [43]:
for student in report:
    for detail in student:
        if isinstance(detail,str):
            print(detail)
        if isinstance(detail,list):
             for subject in detail:
                 print(subject[0],subject[1])

rohan
math 90
english 90
bio 90
RAJ
math 90
english 90
bio 90
Abhi
math 90
english 90
bio 90